* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: black;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.windows-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 150px;
    margin-top: -100px;
}

.logo {
    background-color: black;
    height: 220px;
    width: 240px;
    overflow: hidden;
}

.window-logo {
    height: 80px;
    width: 80px;
    -webkit-transform: skew(-18deg);
}

.red-convex {
    position: relative;
    top: -18px;
    left: 55.5px;
}


.red {
    position: relative;
    top: -43px;
    left: 43px;
    background-color: #FD6807;
}

.red-concave {
    position: relative;
    top: -74.5px;
    left: 29.5px;
}

.blue-convex {
    position: relative;
    top: -119.5px;
    left: 26px;
}

.blue {
    position: relative;
    top: -144px;
    left: 13.2px;
    background-color: #4068FD;
}

.blue-concave {
    position: relative;
    top: -176.5px;
    left: 0px;
}

.green-concave {
    position: relative;
    top: -380px;
    left: 147px;
    z-index: 2;
}

.green {
    position: relative;
    top: -420px;
    left: 133px;
    background-color: #9CEF09;
    z-index: 1;
}

.green-convex {
    position: relative;
    top: -437.5px;
    left: 120px;
    z-index: 2;
}

.yellow-concave {
    position: relative;
    top: -482.5px;
    left: 115px;
    z-index: 1;
}

.yellow {
    position: relative;
    top: -522.5px;
    left: 102px;
    background-color: #FFD013;
}

.yellow-convex {
    position: relative;
    top: -540px;
    left: 89px;
    z-index: 1;
}

.logo-text {
    color: white;
    position: relative;
    top: -35px;
    left: -55px;
}

.logo-text h1 {
    font-size: 100px;
    height: 80px;
    display: inline;
}

.logo-text h2 {
    font-size: 50px;
    color: #FD6807;
    display: inline;
    position: relative;
    top: -30px;
}

.logo-text h3 {
    font-size: 30px;
    font-weight: 300;
    height: 20px;
}

.trademark {
    font-size: 15px;
}

.windows-trademark {
    position: relative;
    top: -37px;
}

.microsoft-trademark {
    position: relative;
    top: -15px;
}

.loading-bar {
    height: 25px;
    width: 250px;
    border: 2px solid white;
    margin-top: 100px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.loading-component {
    height: 20px;
    width: 15px;
    background: linear-gradient(#4068FD 20%, white 50%, #4068FD 80%);
    margin-left: 3px;
    border-radius: 3px;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loading {
    0% {
        transform: translate(-40px, 0);
    }

    100% {
        transform: translate(250px, 0);
    }
}

.copyrights {
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.microsoft-copyright {
    font-size: 25px;
}

.microsoft {
    font-size: 40px;
    font-weight: 900;
}

@media (max-width: 850px) {
    .windows-logo {
        padding-left: 50px;
    }

    .logo {
        height: 110px;
        width: 120px;
    }

    .window-logo {
        height: 40px;
        width: 40px;
    }

    .red-convex {
        top: -10px;
        left: 28px;
    }

    .red {
        top: -25px;
        left: 22px;
    }

    .red-concave {
        top: -39.5px;
        left: 15px;
    }

    .blue-convex {
        top: -64px;
        left: 14px;
    }

    .blue {
        top: -79px;
        left: 7px;
    }

    .blue-concave {
        top: -95px;
        left: 0px;
    }

    .green-concave {
        top: -202px;
        left: 75px;
    }

    .green {
        top: -224px;
        left: 68px;
    }

    .green-convex {
        top: -233px;
        left: 61px;
    }

    .yellow-concave {
        top: -257px;
        left: 60px;
    }

    .yellow {
        top: -279px;
        left: 53px;
    }

    .yellow-convex {
        top: -288px;
        left: 47px;
    }

    .logo-text {
        width: 260px;
        top: -18px;
        left: -22px;
    }

    .logo-text h1 {
        font-size: 50px;
        height: 40px;
    }

    .logo-text h2 {
        font-size: 25px;
        top: -17px;
    }

    .logo-text h3 {
        font-size: 15px;
        height: 10px;
    }

    .trademark {
        font-size: 10px;
    }

    .windows-trademark {
        top: -20px;
    }

    .microsoft-trademark {
        top: -6px;
    }

    .loading-bar {
        height: 20px;
        width: 200px;
        margin-top: 50px;
    }

    .loading-component {
        height: 15px;
        width: 10px;
        background: linear-gradient(#4068FD 10%, white 50%, #4068FD 90%);
        margin-left: 2px;
        border-radius: 1px;
    }

    @keyframes loading {
        0% {
            transform: translate(-30px, 0);
        }

        100% {
            transform: translate(200px, 0);
        }
    }

    .copyrights {
        padding: 10px;
    }

    .microsoft-copyright {
        font-size: 13px;
    }

    .microsoft {
        font-size: 20px;
    }

    @media (max-height: 450px) {
        .container {
            height: auto;
        }

        .windows-logo {
            margin-top: 70px;
        }

        .loading-bar {
            margin: 50px 0 80px;
        }


        .copyrights {
            position: static;
            margin-top: 10px;
        }
    }
}

@media (max-height: 660px) and (min-width: 850px) {
    .container {
        height: auto;
    }

    .windows-logo {
        margin-top: 70px;
    }

    .loading-bar {
        margin: 50px 0 80px;
    }


    .copyrights {
        position: static;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}