/* development stylings */
/* #svg-test {
    background-color: white;
    margin-top: 100px;
} */


#logo {
    position: absolute;
    width: 90px;
    top: 20px;
    left: 20px;
}

#logo svg #logo-path-1,
#logo svg #logo-path-3 {
    fill: #FE4106;
    stroke: #FE4106;
    stroke-width: .5;
}

#logo svg #logo-path-2 {
    opacity: 0;
    fill: #FE4106;
}

nav ul li {
    opacity: 1;
}

#welcome svg {
    fill: #fff;
    stroke: #fff;
    stroke-width: 1;
}

#introduction {
    width: 60%;
    margin: auto;
    opacity: 1;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    scroll-behavior: smooth;
}


#container {
    width: 100%;
    color: #fff;
    overflow: hidden;
}

/* #logo {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    animation: move 1s linear forwards 2.5s;
}

#logo svg {
    stroke-dasharray: 30px;
    stroke-dashoffset: 400px;
}


#logo svg #logo-path-1,
#logo svg #logo-path-3 {
    fill: transparent;
    stroke: #FE4106;
    stroke-width: .5;
    animation: draw 2.5s ease-in forwards;
}

#logo svg #logo-path-2 {
    opacity: 0;
    fill: #FE4106;
    animation: fade 1s linear forwards 3.5s;
} */

@keyframes draw {
    95% {
        stroke-dashoffset: 0;
        fill: transparent;
        stroke: #FE4106;
    }


    100% {
        fill: #FE4106;
        stroke: transparent;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes move {
    0% {
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        width: 90px;
        top: 20px;
        left: 20px;
        transform: translate(0, 0);
    }
}

/* nav ul li {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards 4.5s;
} */

nav ul li:nth-child(1) {
    animation-delay: 4.2s;
}

nav ul li:nth-child(2) {
    animation-delay: 4.4s;
}

nav ul li:nth-child(3) {
    animation-delay: 4.6s;
}

nav ul li:nth-child(4) {
    animation-delay: 4.8s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    padding-right: 20px;
    z-index: 10;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    white-space: nowrap;
}

a {
    transition: color .5s linear;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin: 0 5px;
}

a:hover {
    transition: color .5s linear;
    color: #FE4106;
}

#resume {
    border: 2px solid #fff;
    transition: color .5s linear, border-color .5s linear;
    border-radius: 20px;
}

#resume:hover {
    transition: color .5s linear, border-color .5s linear;
    border-color: #FE4106;
}

#about-me {
    height: calc(100vh - 230px);
    min-height: 600px;
}

#welcome {
    width: 50%;
    margin: 230px auto 70px;
}

/* #welcome svg {
    fill: transparent;
    stroke: #fff;
    stroke-width: 1;
    animation: draw-welcome 2.3s ease-in forwards 5.7s;
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
} */

@keyframes draw-welcome {
    95% {
        stroke-dashoffset: 0;
        fill: transparent;
        stroke: #fff;
    }


    100% {
        fill: #fff;
        stroke: transparent;
    }
}

/* #introduction {
    width: 60%;
    color: #C4C4C4;
    margin: auto;
    opacity: 0;
    animation: fade-in-elements 1s ease-in-out forwards 8.5s;
} */

p {
    border-left: 2px solid #FE4106;
    padding-left: 20px;
    font-size: 18px;
    color: #C4C4C4;
}

#introduction h1 {
    padding: 15px 0;
    border: 0;
    color: #fff;
    font-size: 70px;
    text-align: center;
}

.orange {
    color: #FE4106;
}

@keyframes fade-in-elements {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#projects {
    padding: 100px 150px 0;
}

#projects h1 {
    font-size: 60px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.project-title {
    text-align: center;
    color: #FE4106;
    font-size: 25px;
    padding-bottom: 30px;
    width: 100%;
}

.project-title h2 {
    border-bottom: 1px solid #fff;
    display: inline;
}

.project-screenshot {
    width: 50%;
    display: flex;
    align-items: center;
}

.project-screenshot img {
    border: 2px solid #fff;
    width: 100%;
}

.project-description {
    width: 50%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-languages,
.project-links {
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    width: 50%;
}

.project-languages p,
.project-links p,
.project-links a {
    border: 0;
    display: inline-block;
    padding: 10px;
}

.project-languages-title,
.project-links-title {
    font-size: 25px;
    color: #FE4106;
    padding: 0 10px;
}

.language-circle {
    color: #fff;
}

.language-circle::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px -5px;
    border-radius: 50%;
}

.js::before {
    background-color: #f1e05a;
}

.css::before {
    background-color: #563d7c;
}

.html::before {
    background-color: #e34c26;
}

.project-links svg {
    height: 25px;
    fill: #fff;
    stroke: #FE4106;
}

#footer {
    background-color: #fff;
    min-height: 80px;
    border-top: 5px solid #FE4106;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}