/* #grey {
   height: 150px;
   width: 150px;
   background-color: #C4C4C4;
}


#orange {
   height: 150px;
   width: 150px;
   background-color: #FE4106;
} */


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


#container {
   height: 100vh;
   width: 100%;
   background-color: #000;
}

#navbar {
    height: 60px;
    width: 100%;
}

#logo {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
    animation: move 4s linear forwards;
}

#logo svg {
    /* max-width: 50%; */
    margin: 0 auto;
 }
 
 #logo svg {
    stroke-dasharray: 30px;
    stroke-dashoffset: 400px;
 }
 
 
 #logo svg #p1,
 #logo svg #p3 {
    fill: transparent;
    stroke: #FE4106;
    stroke-width: .5;
    animation: draw 2.5s linear forwards;
 }
 
 #logo svg #p2 {
    opacity: 0;
    fill: #FE4106;
    animation: fade 2.5s linear forwards;
 }
 
 @keyframes draw {
    95% {
        stroke-dashoffset: 0;
        fill: transparent;
        stroke: #FE4106;
    }
 
 
    100% {
        fill: #FE4106;
        stroke: transparent;
    }
 }

 @keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes move {
    80% {
        width: 50%;
        top: 40%;
        left: 25%; 
    }

    100% {
        width: 90px;
        top: 20px;
        left: 20px;
    }
}
 